trunk/activiti-mule/src/main/resources/mule-application-context.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" 
	xmlns:script="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:activiti="http://www.mulesoft.org/schema/mule/activiti-embedded"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
  				http://www.mulesoft.org/schema/mule/core              http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
		     	http://www.mulesoft.org/schema/mule/scripting         http://www.mulesoft.org/schema/mule/scripting/3.2/mule-scripting.xsd
         		http://www.mulesoft.org/schema/mule/vm                http://www.mulesoft.org/schema/mule/vm/3.2/mule-vm.xsd
         		http://www.mulesoft.org/schema/mule/jms               http://www.mulesoft.org/schema/mule/jms/3.2/mule-jms.xsd
         		http://www.mulesoft.org/schema/mule/activiti-embedded http://www.mulesoft.org/schema/mule/activiti-embedded/3.2/mule-activiti-embedded.xsd">

	<spring:beans>
		<spring:import resource="activiti-application-context.xml" />
	</spring:beans>
	
	<jms:activemq-connector name="jmsConnector" brokerURL="tcp://localhost:61616"/>
	
	<activiti:connector 
		name="activitiServer"
        repositoryService-ref="repositoryService"
        runtimeService-ref="runtimeService"
        taskService-ref="taskService"
        historyService-ref="historyService" />
	
	<flow name="CreateProcessFlow">
  		<jms:inbound-endpoint queue="in.create" />
  		<logger message="Received message #[payload]" level="INFO" />
  		<activiti:create-process parametersExpression="#[payload]" />
  		<jms:outbound-endpoint queue="out.create" />
	</flow>
  
  <flow name="HelloWorldResponseFlow">
		<vm:inbound-endpoint path="in" exchange-pattern="request-response" />
		<logger message="Received message #[payload]" level="INFO" />
		<script:transformer>
			<script:script engine="groovy">return 'world'</script:script>
		</script:transformer>
	</flow>

</mule>